@page
@model VoiceAcademyWEB.Pages.LogoutViewModel
@{
}
<!-- En tu vista Razor -->
<!-- Botón para abrir la ventana emergente -->
<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmLogoutModal">Cerrar sesión</button>

<!-- Ventana emergente para confirmar el cierre de sesión -->
<div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="confirmLogoutModalLabel">Cerrar sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class ="text-black">¿Estás seguro de que deseas cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post">
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

<!-- Scripts necesarios para el funcionamiento del modal -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
